{% load staticfiles %}
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Hack Day</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    {% block content %}
    {% endblock content %}
    {% block footer %}
    <div class="footer">
        <p>&copy; Created By <a href="http://github.com/amitkadivar1">Amit Kadivar & Team </a> </p>
    </div>
    {% endblock footer %}

</body>

</html>